<%-layout('layout/boilerplate') %>
<form class="form-control w-25 mx-auto" action="/login" method="post">
  <h2>Login</h2>
  <label for="username">Username</label>
  <input class="form-control" type="text" name="user[username]" id="username">
  <label for="password">Password</label>
  <input class="form-control" type="password" name="user[password]" id="password">
  <button type="button" class="btn btn-success mt-2" name="button">Login</button>
</form>
